<% @recipes.each_slice(3) do |recipes| %>
  <div class="row">
    <% recipes.each do |recipe| %>
      <div class="col-sm-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to image_tag(recipe.image.url(:medium)), recipe %>
          </div>
          <h2><%= link_to recipe.title, recipe %></h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
